.page-header {
  border-bottom: 1px solid;
  border-color: $border-header-color;

  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 100%;

    .page-header__flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      .page-header__gap-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30%;
      }
    }
  }
}
