$general-blue-color: #2196f3;
$general-gray-color: #2f303a;
$container-team-color: #f5f4fa;
$general-font-color: #212121;
$contact-color: #757575;
$black-font-color: #000000;
$white-font-color: #ffffff;
$footer-link-contact-color: rgba(255, 255, 255, 0.6);
$border-header-color: #ececec;
$general-white-color: #e5e5e5;
$portfolio-border-color: #eeeeee;
$icon-color: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
