$general-blue-color: #2196f3;
$general-gray-color: #2f303a;
$container-team-color: #f5f4fa;
$general-font-color: #212121;
$contact-color: #757575;
$black-font-color: #000000;
$white-font-color: #ffffff;
$footer-link-contact-color: rgba(255, 255, 255, 0.6);
$border-header-color: #ececec;
$general-white-color: #e5e5e5;
$portfolio-border-color: #eeeeee;
$icon-color: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: $general-font-color;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team {
  background-color: $container-team-color;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-client__heading {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
}
